{% extends 'layout.html' %} {% block body %}

<div style="margin-left: 100px;">
<h1>Available Services!! </h1> <br/>
</div>

<div style="margin-left: 100px;">
<img src="static/images/vvvv.jpg" class="card-img-top" style="width: 15rem" alt="sensor">
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h2><strong> </strong></h2><br/>
    Organization Name : AIC Lab Equipments Private Limited <br>
    Price: 6000 <br/>
    Contact Information: 8048970657<br/>
    Location:  Goregaon,Mumbai,Maharashtra<br/><br/>
    
    <a href="https://aiclabequipments.com/" class="btn btn-outline-primary">View</a><br><br>
</div>
</div>

<div style="margin-left: 100px;">
<img src="static/images/vvvv.jpg" class="card-img-top" style="width: 15rem" alt="sensor">
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h2><strong> </strong></h2><br/>
    Organization Name : Globetrek Engineering Corporation <br>
    Price: 25000 <br/>
    Contact Information: 8048609461<br/>
    Location: Ulwe, Navi Mumbai <br/><br/>
    
<a href="https://www.globetrekengineering.com/concrete-testing-equipments.html" class="btn btn-outline-primary">View</a>
</div>
</div>
   

<div style="margin-left: 100px;">
    <img src="static/images/vvvv.jpg" class="card-img-top" style="width: 15rem" alt="sensor">
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <h2><strong> </strong></h2><br/>
        Organization Name : Brookfield Digital Viscometer by Shambhavi Impex <br>
        Price: 10000 <br/>
        Contact Information: 8048604882<br/>
        Location: Sector 11 CBD Belapur, Navi Mumbai <br/><br/>
        
    <a href="https://www.shambhaviimpex.com/digital-viscometer.html" class="btn btn-outline-primary">View</a>
    </div>
    </div>
    
    
<div style="margin-left: 100px;">
        <img src="static/images/vvvv.jpg" class="card-img-top" style="width: 15rem" alt="sensor">
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <h2><strong> </strong></h2><br/>
            Organization Name : Dilson Enterprises <br>
            Price: 350/piece <br/>
            Contact Information: 8048470963<br/>
            Location: Grant Road Area, Mumbai<br/><br/>
            
        <a href="https://dilsonenterprises.com/" class="btn btn-outline-primary">View</a>
</div>
</div>





<br/><br/><br/><br/><br/><br/><br/><br/><br/>

{% endblock %}